
.footer__call h3 , .footer__email  h3 ,.footer__social_icons h3 {
    font-size: 14px;
    margin-bottom: 12px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    text-align: center;
    padding: 24px;
    background-color: #fff;
}

.footer__follow {
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer__follow a {
    color: inherit;
}

.footer__follow svg {
    cursor: pointer;
}

.footer__email a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width:580px) {
    .footer__container {
        flex-wrap: wrap;
        gap: 32px;
    }
    .footer__container p {
        font-size: 14px;
    }
}